#login{
    width: 50%;
    padding-top: 10%;
}
#signup{
    width: 50%;
    padding-top: 5%;
}
.btn-home{
	width: 100px;
}
#about:after{
	content: "";
  	display: block;
  	height: 350px; /* the footer's total height */
  	/*padding-left: 5px;*/
}
.footertext{
	height: 50px;
	margin:0;
	padding-top: 1%;
}