<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>LunchBuddy</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"></link>
	</head>
	<body>
		<!-- Static navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">LunchBuddy</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/reserve">Reserve</a></li>
						<li><a href="/profile">Profile</a></li>
						<li class="active"><a href="/about">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>

		<div class="container text-aligned" id="about">
			<h3>Welcome to LunchBuddy</h3>
			<p>LunchBuddy is a project from Microsoft's 2017 OneWeek hackathon. As all new employees, we wanted to create an app that would help Microsoft employees meet each other during lunch. Employees can sign up with their Micorosft emails and choose a desired time and campus to meet. We then place employees into groups with sizes between 2 - 6 people. While we thought this would help new employees, it's not just for those who have recently completed their NEO. We hope that employees with in their first few months and employees in their first few years and so on can meet and promote a large community within Microsoft.</p>
			<br/>
			<p>To be fair, this idea came from a brainstorm that began between all new employees during lunch. What can we say, we love food and and hope to meet new people!</p>
			<br/> <br/>
			<p>Developers:<br/>
				Leela Karunakaran<br/>
				Owen Huyn<br/>
				Rachael Robinson<br/>
				Reed Williams
		</div>
		<footer>
			<div className="container footertext">
	                    <p className="text-muted">To see where the magic happens, click <a href="https://github.com/rachaelrobinson/LunchBuddy/">here</a> to view our github repo</p>
	        </div>
	    </footer>
	</body>
</html>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'reserve.js') }}"></script>
