<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>LunchBuddy</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"></link>
	</head>
	<body>
<!-- 		<nav class="navbar">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		  	<a class="navbar-brand" href="#">Navbar</a>
		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item active">
		        		<a class="nav-link" href="/reserve">Home <span class="sr-only">(current)</span></a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/profile">Profile</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link disabled" href="/logout">Logout</a>
		      		</li>
		    	</ul>
		  </div>
		</nav> -->
		<div class="container text-aligned" id="signup">
			<form class="form-signup">
				<h1 class="form-signin-heading">Find a buddy!</h1>
				<label>Primary Campus:</label>
  				<select class="form-control" id="sel1">
				    <option value="N">North Campus</option>
				 	<option value="W">East Campus</option>
				 	<option value="E">West Campus</option>
				  	<option value="B">Bellevue Campus</option>
				</select>
				<label>Secondary Campus:</label>
				<select class="form-control" id="sel1">
				    <option value="N">North Campus</option>
				 	<option value="W">East Campus</option>
				 	<option value="E">West Campus</option>
				  	<option value="B">Bellevue Campus</option>
				</select>
				<label>Date:</label><br/>
				<input type="date" name="bday"></input><br/>
				<label>Primary Time:</label><br/>
				<select name="ptime" form="ptime">
				 	<option value=0>11-12</option>
				 	<option value=1>12-1</option>
				 	<option value=2>1-2</option>
				</select><br/>
				<label>Secondary Time:</label><br/>
				<select name="stime" form="stime">
				 	<option value=0>11-12</option>
				 	<option value=1>12-1</option>
				 	<option value=2>1-2</option>
				</select>
				<button class="btn btn-lg btn-primary btn-block" type="submit" id="signupbtn">Sign up</button>
			</form>
	</body>
</html>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
 --><script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>